// CSS Variables for colors
:root {
    --color-text-primary: #222;
    --color-text-light: #666;
    --color-background: #f0f0f0;
    --color-background-2: #e0e0e0;
    --color-background-3: #d0d0d0;
    --color-background-4: #c0c0c0;
    --color-border: #a0a0a0;
    --color-highlight: #007bff;

    --color-difference-unselected: var(--color-background-2);
    --color-difference-match: #4CAF50;
    --color-difference-missing: #ff0000;

    --scroll-bar-width: 12px;
}

// Dark mode variables
body.dark-mode {
    --color-text-primary: #e0e0e0;
    --color-text-light: #a0a0a0;
    --color-background: #101010;
    --color-background-2: #202020;
    --color-background-3: #303030;
    --color-background-4: #404040;
    --color-border: #606060;
    --color-highlight: #007bff;
    
    --color-difference-unselected: var(--color-background-2);
    --color-difference-match: #20a020;
    --color-difference-missing: #a02020;
}
